body {
  font-family: "Lato", sans-serif;
}

.nav{	
margin:0px;
width:100%;
background:#59B1CC;
height:120px;	
position: 0,0,fixed;
}
.nav h4 {
    font-size: 28px;
    padding: 50px 100px 20px 40px;
    font-weight: bold;
    font-family: serif;
}
#logoutsection{
	
}

#logoutsection button{
	    background: transparent;
    outline: none;
    border: 0px;
}



.sidenav {
  float:left;
  width: 20%;
  height:100%;
  z-index: 1;
  left: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav button {
  padding: 6px 18px 8px 6px;
  outline:none;
  text-decoration: none;
  width:100%;
  font-size: 25px;
  color: #2196F3;
  display: block;
  border:0px;
  margin:10px;
}

.sidenav button:hover {
  color: #064579;
}

.main {
  display:inline-block;
  width: 75%; /* Same width as the sidebar + left position in px */
  font-size: 14px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  text-align:center;
}

input{
	outline:none;
	width:100%;
}

:focus{outline: none;}

.col-3{float: left; width: 27.33%; margin: 40px 3%; position: relative;} 
.effect-2{border: 0; padding: 7px 0; border-bottom: 1px solid #ccc;}
@media screen and (max-height: 450px) {
  .sidenav {padding: 0px 18px 6px 6px;}
  .sidenav a {font-size: 8px;}
  .sidenav button {font-size: 8px;}
}
.effect-2 ~ .focus-border{position: absolute; bottom: 0; left: 50%; width: 0; height: 2px; background-color: #3399FF; transition: 0.4s;}
.effect-2:focus ~ .focus-border{width: 100%; transition: 0.4s; left: 0;}

 @media screen and (max-width: 991px) {
  .sidenav {padding: 6px 18px 8px 6px;}
  .sidenav a {font-size: 18px;}
  .sidenav button {font-size: 18px;}
}

